p {
  top: 48%;
  width: 100%;
  text-align: center;
  color: lightskyblue;
  position: absolute;
  font-size: 50px;
  z-index: 10001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  background: lightskyblue;
  background-attachment: fixed;
  overflow: hidden;
}
.scene i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.cloud1 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 600px;
  z-index: 10000;
  animation: animateCloud 100s linear infinite;
}

.cloud2 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 500px;
  z-index: 10002;
  animation: animateCloud 110s linear infinite;
}

.cloud3 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 600px;
  z-index: 10000;
  animation: animateCloud 120s linear infinite;
}

.cloud4 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 300px;
  z-index: 10002;
  animation: animateCloud 125s linear infinite;
  animation-delay: -20s;
}

.cloud5 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 500px;
  z-index: 10000;
  animation: animateCloud 145s linear infinite;
  animation-delay: -30s;
}

.cloud6 {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 550px;
  z-index: 10002;
  animation: animateCloud 120s linear infinite;
  animation-delay: -10s;
}

.cloud7 {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 800px;
  z-index: 10000;
  animation: animateCloud 135s linear infinite;
}

.cloud8 {
  position: absolute;
  top: 40%;
  left: 0;
  max-width: 1000px;
  z-index: 10002;
  animation: animateCloud 135s linear infinite;
}

@keyframes animateCloud {
  0% {
    transform: translateX(-150%) scale(2);
  }
  100% {
    transform: translateX(400%) scale(2.5);
  }
}
